.app {
  background-color: #dadbd3;
  height: 100vh;

  /* for centering any div or block level element inside the parent div we have to use the display to grid and the place-items to the center and these will get you to the center the child div inside the parent div or block level element */
  display: grid;
  place-items: center;
}
.app__body {
  display: flex;
  background-color: #ededed;
  margin-top: -40px;
  width: 90vw;
  height: 90vh;
  /* margin: 0 auto; */
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.6);
}
